.cardPlacement {
    -fx-background-color: #804ab5;
    -fx-transition: -fx-background-color 5s;
}

.cardPlacement:hover {
    -fx-background-color: #c889fd;
}

.pane{
    -fx-background-color: #474561;
    -fx-border-color: #787697;
}

.menubar {
    -fx-background-color: #787697;
    -fx-border-color: white;
    -fx-border-width: 2;
}

.player-labels{
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-font-family: "Kannada MN";
    -fx-text-fill: white;
}

.bet-labels{
    -fx-text-fill: white;
}

.hand-dealt{
    -fx-text-fill: #ffc8c8;
    -fx-font-size: 25;
    -fx-font-family: "Kannada MN";
}

.game-buttons{
    -fx-background-color: #a3a3a3;
    -fx-font-family: "Kannada MN";
    -fx-border-color: white;
    -fx-border-width: 2;
}

.game-buttons:hover{

    -fx-background-color: #f4f4f4;
}